# Environment
.vscode
.venv

# CMake
CMakeFiles/
CMakeCache.txt

bin/*
obj/*
*build/
*_build/

# Python
*__pycache__/
src/mtxman.egg-info/

# Development
datasets/
*_sync.sh
*.csv
config.yaml

# Dependencies
src/mtxman/deps/*
!src/mtxman/deps/custom